<a href="https://colab.research.google.com/github/nizarramadhani/nizar_phyton/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#TUGAS 1
import calendar

# Daftar nama bulan
nama_bulan = {
    1: "Januari", 2: "Februari", 3: "Maret", 4: "April",
    5: "Mei", 6: "Juni", 7: "Juli", 8: "Agustus",
    9: "September", 10: "Oktober", 11: "November", 12: "Desember"
}

# Input nomor bulan dan tahun dari pengguna
bulan = int(input("Masukkan nomor bulan (1-12): "))
tahun = int(input("Masukkan tahun: "))

if 1 <= bulan <= 12:
    jumlah_hari = calendar.monthrange(tahun, bulan)[1]
    print(f"Jumlah hari pada bulan {nama_bulan[bulan]} tahun {tahun} adalah {jumlah_hari}.")
else:
    print("Nomor bulan tidak valid! Masukkan angka antara 1-12.")

Masukkan nomor bulan (1-12): 3
Masukkan tahun: 2025
Jumlah hari pada bulan Maret tahun 2025 adalah 31.

In [6]:
#TUGAS 2
from datetime import datetime, timedelta

# Input tanggal dari pengguna
tanggal_input = input("Masukkan tanggal (format: DD-MM-YYYY): ")

try:
    tanggal = datetime.strptime(tanggal_input, "%d-%m-%Y")

    besok = tanggal + timedelta(days=1)

    print(f"Besok adalah {besok.strftime('%d-%m-%Y')}")
except ValueError:
    print("Format tanggal salah! Harap masukkan dalam format DD-MM-YYYY.")

Masukkan tanggal (format: DD-MM-YYYY): 10-03-2025
Besok adalah 11-03-2025

In [5]:
#TUGAS 3
# Input nilai belanja dari pengguna
nilai_belanja = int(input("Masukkan nilai belanja: "))

pembulatan_terendah = (nilai_belanja // 25) * 25

print(f"Nilai belanja setelah dibulatkan: Rp{pembulatan_terendah}")

Masukkan nilai belanja: 15212
Nilai belanja setelah dibulatkan: Rp15200